* {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #E5E7EB;
  

}

h1 {
  font-family: "Birthstone", cursive;
  font-weight: 900;
  font-style: normal;
  font-size: 60px;
  margin-top: 50px; 
  text-align: center;
}

.container {
  margin: 2% 10%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 20px;
  
}

.recipedisplay {
  margin: 40px 70px 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center; 
  max-width: 800px; 
}

.recipedisplay h2 {
  margin-bottom: 20px; 
  font-family: "Indie Flower", cursive;

}

.recipedisplay img {
  max-width: 100%; 
  height: auto; 
}

.ingredient {
  font-weight: bold;
  text-align: left; 
  line-height: 1.6
}

.instructions {
  text-align: justify; 
  line-height: 1.6
}

p {
  font-family: "Birthstone", cursive;
  list-style-type: none;
  padding-left: 0;
  display: block; 
  margin-bottom: 2em;
 
}

h3 {
  text-decoration: underline;
  text-decoration-style: solid;
}

.container {
  text-align: center; 
}


.btnRandom {
  justify-content: center; 
  align-items: center;
  padding: 1.5em 4em; 
  font-size: 25px; 
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  margin: 3rem
  
}

.btnRandom:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btnRandom:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
